@import './reset.css';
@import './color-palette.css';

:root {
  --bg: #fff;
  --fg: #000;

  /* Typography */
  /* --font-sans: var(--font-pretendard), -apple-system, BlinkMacSystemFont,
    'Roboto', 'Helvetica Neue', sans-serif;
  --font-mono: var(--font-pretendard), 'SFMono-Regular', 'Consolas',
    'Liberation Mono', 'Menlo', monospace; */
  --font-sans: -apple-system, 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}

/* [data-theme='dark'] {
} */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 110%;
  font-size: 16px;
  line-height: 1.55em;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  position: relative;
}
