@import './reset.css';
@import './color-palette.css';

:root {
  /* Typography */
  --font-sans: -apple-system, 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--white);
  color: var(--black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 110%;
  font-size: 16px;
  line-height: 1.55em;
  height: 100%;
}

[data-theme='dark'] {
  html,
  body {
    background: var(--neutral-950);
    color: var(--white);
  }
}

body {
  min-height: 100%;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  position: relative;
}
