.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

// .buttonWrapper {
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: auto;
//   width: 100%;
//   padding: 1rem;
//   display: flex;
//   justify-content: center;

//   z-index: 1;

//   .button {
//     display: block;
//     cursor: pointer;

//     font-size: 1rem;
//     @media (max-width: 35rem) {
//       font-size: 0.9rem;
//     }
//     line-height: 1;
//     font-weight: 600;
//     color: white;

//     padding: 1.25rem;
//     background-color: var(--neutral-950);

//     max-width: 35rem;
//     width: 100%;
//     border-radius: 1000px; // https://stackoverflow.com/questions/29966499/border-radius-in-percentage-and-pixels-px-or-em

//     transition: opacity 0.2s ease-out;
//   }
// }

// .wrapper {
//   height: 100%;
//   width: 100%;
//   // padding: 3rem // 설정시 desktop에서 overflow: y 됬을때 입력하기 편하지만 scroll bar 이상해짐
// }

.input {
  padding: 3rem 3rem 5rem 3rem; // padding: 0rem
  font-size: 1.5rem;
  @media (max-width: 35rem) {
    font-size: 1rem;
  }
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  white-space: pre-wrap;

  // focus
  &:focus {
    border: none;
    outline: none;
  }

  // placeholder
  &[contenteditable='true']:empty:before,
  &[contenteditable='true']:focus:before {
    content: attr(data-placeholder);
    color: var(--zinc-700);
    pointer-events: none;
    display: block;
  }

  &[contenteditable='true']:focus:not(:empty):before {
    content: '';
  }
}

[data-theme='dark'] {
  .input {
    &[contenteditable='true']:empty:before,
    &[contenteditable='true']:focus:before {
      color: var(--zinc-300);
    }
  }
}
